<mat-card class="card" style="max-width: 1280px; margin-left: auto; margin-right: auto;">
    <mat-card-header>
        <mat-card-title>Réalisations</mat-card-title>
    </mat-card-header>
    <mat-card-content style="display: flex; justify-content: center; flex-wrap: wrap;">
        
        <mat-card *ngFor="let data of archievements" style="width: 500px; margin-right: 15px; margin-bottom: 15px;">
            <mat-card-header>
                <mat-card-title>{{ data.title }}</mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="data.imgUrl" [alt]="data.title">
            <mat-card-content>
                <p>{{ data.description }}</p>
                <span>Réalisé en : {{ data.date }}</span>
            </mat-card-content>
            <mat-card-footer style="margin-bottom: 2px;">
                <a [href]="data.url" style="margin-left: 15px;">Voir...</a>
            </mat-card-footer>
        </mat-card>

    </mat-card-content>
</mat-card>