.details {
    display: flex; 
    justify-content: flex-start; 
    align-items: center;
    height: 25px;
    margin-bottom: 10px;
}
.mat-icon-color {
    color: #3f51b5;
}
.details-text {
    margin-left: 5px;
}

.title {
    margin-right: 10px;
}

.personal-image {
    max-width: 13%;
    border-radius: 50%;
    border: #3f51b5 solid 2px;
    position: absolute;
    right: 15px;
}