<mat-card class="card" *ngFor="let data of personalInformation" style="max-width: 800px; margin-left: auto; margin-right: auto;">
    <!-- <mat-card-header>
        <mat-card-title>Information Personelle</mat-card-title>
    </mat-card-header> -->

    

    <mat-card-content>
        <img [src]="data.imgUrl" alt="" class="personal-image">
        <h2>{{ data.gender}} {{ data.name}} {{ data.firstname}}</h2>
        
        <div class="details"><h3 class="title">Adresse:</h3> <span>{{ data.street }}, {{ data.npa }} {{ data.city }}, {{ data.country }}</span></div>
        <div class="details"><h3 class="title">Email:</h3> <span>{{ data.email }}</span></div>
        <div class="details"><h3 class="title">Numéro de téléphone:</h3><span>{{ data.phone }}</span></div>
        <div class="details"><h3 class="title">Numéro de mobile:</h3><span>{{ data.mobile}}</span></div>
        <div class="details"><h3 class="title">Date de naissance:</h3><span>{{ data.days }} {{ data.mount }} {{ data.year }}</span></div>
        <div class="details"><h3 class="title">Nationalité:</h3><span>{{ data.nationalitie }}</span></div>
        
        <h3>Présentation:</h3>
        <div *ngFor="let line of presentation">
            <p>{{ line }}.</p>
        </div>
    </mat-card-content>
</mat-card>