<app-header></app-header>

<!-- <mat-carousel timings="500ms ease-out" [autoplay]="true" interval="6000" color="white">
  <mat-carousel-slide *ngFor="let slide of slides; let i = index" [image]="slide.image" overlayColor="#ffffff" [hideOverlay]="false"></mat-carousel-slide>
</mat-carousel> -->

<mat-tab-group mat-align-tabs="center" style="top: 63px; position: relative;">
  <mat-tab label="Information Personel"><app-personal-information></app-personal-information></mat-tab>
  <mat-tab label="Formations"><app-training></app-training></mat-tab>
  <mat-tab label="Réalisations"><app-achievement></app-achievement></mat-tab>
  <mat-tab label="Expérience Professionnelle"><app-professional-experience></app-professional-experience></mat-tab>
</mat-tab-group>