<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Formations</mat-card-title>
    </mat-card-header>
    <mat-card-content>
 
        <mat-card *ngFor="let data of trainings">
            <mat-card-header>
                <mat-card-title>{{ data.title }}</mat-card-title>
            </mat-card-header>

            

            <mat-card-content>
                
                <span>{{ data.dateStart }} - {{ data.dateEnd }}</span>
                <p>{{ data.description }}</p>
                <img [src]="data.imgUrl" alt="" style="max-width: 10%;">
            </mat-card-content>
        </mat-card>

    </mat-card-content>
</mat-card>