/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Titillium+Web:wght@200&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: rgb(233, 241, 249);}

.card {
    margin-top: 20px; 
    margin-bottom: 20px; 
    margin-left: 50px; 
    margin-right: 50px;
}

h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 27px;
}
h3 {
    font-family: 'Open Sans', sans-serif;
}
.mat-card-header-text {
    margin: 0 !important;
}


/*carousel arrow*/
.mat-icon-button.mat-accent {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: #3f51b5c4;
    box-shadow: 0px 1px 1px rgba(70, 69, 69, 0.692);
}
.mat-icon-button.mat-accent.mat-button-disabled, .mat-icon-button.mat-warn.mat-button-disabled, .mat-icon-button.mat-button-disabled.mat-button-disabled {
    display: none;
}

/*carousel indicators*/
.mat-mini-fab.mat-button-disabled.mat-button-disabled {
    background-color: rgb(1, 255, 148);    
}
.mat-mini-fab.mat-accent {
    background-color: #dfd8d9ab;
}
